@model List<Product>
@{
        ViewData["Title"] = "Index";
}
<h2 class="text-center mb-5">List Of Product</h2>

<div class="row mb-5">
    <div class="col-md-12">
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Created At</th>
                    <th>Action</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Brand</td>
                        <td>@item.Category</td>
                        <td>@item.Price</td>
                        <td>@item.Description</td>
                        <td>@item.CreatedAt</td>

                        <td>
                            <a class="btn btn-primary"asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a class="btn btn-danger" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>